{% extends "base.html" %}

{% block content %}
<h1> Сторінка, яку слід відвідати перед або після читання корисної інформації</h1>
<p> Привіт! Мене звуть Попівняк Любомир, і так, саме я створив цей сайт. Сам сайт є лише бета-тестуванням, оскільки я його робив для релізу. Але, якщо хтось має ідею, як доповнити цей сайт, чи комусь потрібно зробити сайт, я зможу допомогти. Просто пишіть мені в приват, і ми там все обсудимо:</p>
<h6> Мій телеграмм: <a href="https://t.me/Capybara_kurwa">https://t.me/Capybara_kurwa</a></h6>
<h6> Мій Viber: +380687567124(Попівняк Любомир)</h6>
<h6> Мій діскорд:</h6>

{% endblock %}
