<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <div class="container-fluid">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a href="/"> Головна</a>
      </li>
        <li class="nav-item">
        <a href="/about_us"> Про нас</a>

        <li class="nav-item">
        <a href="/Interesting_facts"> Цікаві факти</a>
</nav>
<h1>Топ самих популярних інструментів</h1>
<h2>(на мою думку)</h2>

{% block content %}
{% endblock %}
</body>
</html>