{% extends "base.html" %}

{% block content %}
<h1> Цікаві факти про інструменти, яких ви не знали</h1>
<p>1. Прадідом фортепіано вважається клавікорд. Це струнний клавішний музичний інструмент, що з'явився в Європі приблизно в XIV столітті. У клавікорді звук створювався за допомогою металевих тангентів, які торкалися струн, викликаючи їх вібрацію. А дідом фортепіано вважається клавесин, який мав механізм, де струни щипалися, але він не дозволяв варіювати гучність звуку залежно від сили натискання на клавішу, що стало основною відмінністю фортепіано. Також в клавесина є варіація - Спінет. Спінет — це компактний різновид клавесина. Його струни розташовані під кутом до клавіш, що робить інструмент меншим і зручнішим для домашнього використання.</p>
<img src="{{url_for('static', filename='clavichord.jpg')}}"> <img src="{{url_for('static', filename='clavecin.jpg')}}"> <img src="{{url_for('static', filename='Spinet.jpg')}}">
<p>2. Найдавніша знайдена гітара датується приблизно 1500 роком до н.е. і була виявлена в Єгипті.</p>
<img src="{{url_for('static', filename='Egypt_guitars.webp')}}">
<p>3. Скрипка має понад 70 окремих частин, які збираються вручну, щоб створити інструмент, здатний виробляти такий виразний звук.</p>
<p>4. Унікальність бандури полягає в тому, що вона має до 68 струн, що дозволяє грати як мелодію, так і акомпанемент одночасно.</p>
<p>5. Найдавніші труби були знайдені в єгипетських гробницях і виготовлялися з дерева, глини або металу.</p>
<p>6. Саксофон був винайдений Адольфом Саксом у 1846 році і спочатку призначався для військових оркестрів.</p>
<p>7. Сопілка — один з найдавніших музичних інструментів, її прообрази існували ще 35 000 років тому.</p>
<p>8. Кларнет може виробляти понад 20 різних тембрів звуку, що робить його одним з найвиразніших дерев'яних духових інструментів.</p>
<p>9. Баян названий на честь легендарного слов'янського співака Бояна і є одним з найбільш технічно складних акордеонів, здатний грати як класичну, так і сучасну музику.</p>
<img src="{{url_for('static', filename='boyan.jpg')}}">

{% endblock %}
